<div class="navbar-dashboard bounty-dashboard-container mt-5">
  <ul class="nav nav-tabs justify-content-evenly" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="bounties-tab" data-bs-toggle="tab" data-bs-target="#bounties-tab-pane" type="button" role="tab" aria-controls="bounties" aria-selected="true">My Bounties</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="solutions-tab" data-bs-toggle="tab" data-bs-target="#solutions-tab-pane" type="button" role="tab" aria-controls="solutions" aria-selected="false">My Validated Solutions</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="homework-tab" data-bs-toggle="tab" data-bs-target="#homework-tab-pane" type="button" role="tab" aria-controls="homework" aria-selected="false">My Homework </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="ranking-tab" data-bs-toggle="tab" data-bs-target="#ranking-tab-pane" type="button" role="tab" aria-controls="ranking" aria-selected="false">Leaderboard</button>
    </li>
  </ul>
</div>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="bounties-tab-pane" role="tabpanel" aria-labelledby="bounties-tab" tabindex="0">
    <div class="bounty-dashboard-container">
    <h2 class="title-dashboard mt-5 mb-3">All my <span class="green">pending bounties</span></h2>
      <div class="bounties-card" data-controller="scroll-reveal">
        <% @pending_bounties.each_with_index do |bounty, i| %>
          <div class="bounty-card reveal"  data-scroll-reveal-target="item"  data-delay="<%= i*50 %>ms" >
            <%= link_to bounty_path(bounty), class:"flex-grow-1 text-decoration-none" do %>
              <div class="bounty-info">
                <div class="bounty-title">
                  <p class="title-title">Title </p>
                  <p class="content-title"><%= bounty.title %></p>
                </div>
                <div class="bounty-deadline">
                  <p class="title">Deadline </p>
                  <p class="content">
                    <% if bounty.deadline == nil %>
                      <%= "none" %>
                    <% else %>
                      <%= bounty.deadline %>
                    <% end %>
                  </p>
                </div>
                <div class="bounty-price">
                  <p class="title">Price </p>
                  <p class="content"><%= bounty.price_cents %> €</p>
                </div>

              </div>
            <% end %>
            <div class="bounty-links">
              <% if bounty.user.photo.attached? %>
                <%= cl_image_tag bounty.user.photo.key, class:"avatar-bounty" %>
              <% else %>
                <%= image_tag("blank-profile.png", class:"avatar-bounty") %>
              <% end %>
              <p class="title"><%= bounty.user.username %></p>
            </div>
          </div>
        <% end %>
      </div>
      <h2 class="title-dashboard">All my <span class="green">solved bounties</span>:</h2>
      <div class="bounties-card" data-controller="scroll-reveal">
        <%@solved_bounties.each_with_index do |bounty, i| %>
          <div class="bounty-card reveal"  data-scroll-reveal-target="item"  data-delay="<%= i*50 %>ms" >
            <%= link_to bounty_path(bounty), class:"flex-grow-1 text-decoration-none" do %>
              <div class="bounty-info">
                <div class="bounty-title">
                  <p class="title-title">Title </p>
                  <p class="content-title"><%= bounty.title %></p>
                </div>
                <div class="bounty-deadline">
                  <p class="title">Deadline </p>
                  <p class="content">
                    <% if bounty.deadline == nil %>
                      <%= "none" %>
                    <% else %>
                      <%= bounty.deadline %>
                    <% end %>
                  </p>
                </div>
                <div class="bounty-price">
                  <p class="title">Price </p>
                  <p class="content"><%= bounty.price_cents %> €</p>
                </div>

              </div>
            <% end %>
            <div class="bounty-links">
              <% if bounty.user.photo.attached? %>
                <%= cl_image_tag bounty.user.photo.key, class:"avatar-bounty" %>
              <% else %>
                <%= image_tag("blank-profile.png", class:"avatar-bounty") %>
              <% end %>
              <p class="title"><%= bounty.user.username %></p>
            </div>
          </div>
        <% end %>
      </div>
      <h2 class="title-dashboard">All my <span class="green">unsolved bounties</span>:</h2>
      <div class="bounties-card" data-controller="scroll-reveal">
        <%@unsolved_bounties.each_with_index do |bounty, i| %>
          <div class="bounty-card reveal"  data-scroll-reveal-target="item"  data-delay="<%= i*50 %>ms" >
            <%= link_to bounty_path(bounty), class:"flex-grow-1 text-decoration-none" do %>
              <div class="bounty-info">
                <div class="bounty-title">
                  <p class="title-title">Title </p>
                  <p class="content-title"><%= bounty.title %></p>
                </div>
                <div class="bounty-deadline">
                  <p class="title">Deadline </p>
                  <p class="content">
                    <% if bounty.deadline == nil %>
                      <%= "none" %>
                    <% else %>
                      <%= bounty.deadline %>
                    <% end %>
                  </p>
                </div>
                <div class="bounty-price">
                  <p class="title">Price </p>
                  <p class="content"><%= bounty.price_cents %> €</p>
                </div>

              </div>
            <% end %>
            <div class="bounty-links">
              <% if bounty.user.photo.attached? %>
                <%= cl_image_tag bounty.user.photo.key, class:"avatar-bounty" %>
              <% else %>
                <%= image_tag("blank-profile.png", class:"avatar-bounty") %>
              <% end %>
              <p class="title"><%= bounty.user.username %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="solutions-tab-pane" role="tabpanel" aria-labelledby="solutions-tab" tabindex="0">
    <h2 class="text-light mb-5 mt-5 font-weight-bold text-center">All my  <span class="green">accepted solutions</span></h2>
      <% @user.solutions.where(status:"accepted").each do |solution| %>
      <div class="col-8 offset-2">
      <div class="card-show p-5">
        <div class="card-top d-flex justify-content-between">
          <div class="card-title">
            <h2 class=" text-white font-weight-bold"> <%= solution.bounty.title %> </h2>
          </div>
          <div class="profile d-flex">
            <div class="card-photo">
                <% if solution.bounty.user.photo.attached? %>
                  <%= cl_image_tag solution.bounty.user.photo.key, class:"card-img-top", alt:"..."%>
                <% else %>
                  <%= image_tag("blank-profile.png", class:"card-img-top", alt:"...")%>
                <% end %>
            </div>
            <span class="green font-weight-bold mx-2 mt-2"><%=solution.bounty.user.username%></span>
          </div>
          </div>
          <div class="overview mt-3 mb-3">
            <p class="description-text grey"> <%= solution.bounty.content %> "I have been trying to post data to controller action in RAILS application development. When i post data through form, POST data reaches specific controller action defined in routes.rb. But it gives back with 404 error."</p>
          </div>
          <p class="align-self-center">
            <%= link_to solution.bounty.github_repo, class: "card-text text-decoration-none text-white" do %>
              <i class="fa-brands fa-github"></i>
            <%end %>
          </p>
          <div class="ending-links-card d-flex justify-content-between">
          </div>
            <div class="solutions">
              <h3 class="text-light mb-5 mt-3 font-weight-bold">My <span class="green">solution</span></h3>
              <div class="solutions-list">
                <div class="card-show-solutions">
                    <div class="solution-top">
                      <div class="profile d-flex mb-3">
                        <% if solution.user.photo.attached? %>
                          <%= cl_image_tag solution.user.photo.key, style:"width: 50px; height: 50px; border-radius: 50%;" %>
                        <% else %>
                          <%= image_tag("blank-profile.png", style:"width: 50px; height: 50px; border-radius: 50%;")%>
                        <% end %>
                        <p class="username green font-weight-bold mt-2 mx-3"><%= solution.user.username %></p>
                      </div>
                    </div>
                    <div class="solution-content mt-4">
                      <span class="grey">Comment:</span>
                      <p> <%= solution.content %></p>
                      <span class="grey"> See more:</span><br>
                      <div class="medias d-flex mt-2">
                        <p>
                          <%= link_to solution.github_repo,   class: "card-text text-decoration-none text-white" do %>
                            <i class="fa-brands fa-github"></i>
                          <%end %>
                        </p>
                        <p class= "card-text text-decoration-none text-white", style="font-size: 2rem; margin-left: 1em;"> <i class="fa-solid fa-envelope"></i> </p>
                      </div>
                    </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  </div>
  <div class="tab-pane fade bounty-dashboard-container" id="homework-tab-pane" role="tabpanel" aria-labelledby="homework-tab" tabindex="0">

      <h2 class="text-light mb-1 mt-5 font-weight-bold text-center">My  <span class="green">homework</span></h2>

      <div class="solutions-list d-flex justify-content-between flex-wrap">
        <% @homeworks.each do |homework| %>
          <div class="card-show-solutions m-0 mt-5" style= "width: 39vw;">
            <div class="solution-top d-flex justify-content-between">
              <div class="solution-left-top d-flex">
                <div class="username-photo">
                  <% if homework.bounty.user.photo.attached? %>
                    <%= cl_image_tag homework.bounty.user.photo.key, style:"width: 50px; height: 50px; border-radius: 50%;" %>
                  <% else %>
                    <%= image_tag("blank-profile.png", style:"width: 50px; height: 50px; border-radius: 50%;")%>
                  <% end %>
                </div>
                <p class="align-self-start username green font-weight-bold mt-2 mx-2"><%= homework.bounty.user.username %></p>
              </div>
              <div class="remove-homework">
                <%= link_to bounty_homework_path(homework.bounty, homework), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none link-edit-green" do  %>
                    <i class="fa-sharp fa-solid fa-trash"></i>
                <% end %>
              </div>
            </div>
              <div class="solution-content mt-4">
                <span class="grey">Title:</span>
                <p><%= link_to bounty_path(homework.bounty), class: "homework-link" do %>
                    <%= homework.bounty.title %>
                  <% end %>
                </p>
                <span class="grey"> Overview:</span>
                <p> <%= homework.bounty.content %></p>
                <div class="github">
                  <p class="grey">Code on :</p>
                  <%= link_to homework.bounty.github_repo, class: "card-text text-decoration-none text-white" do %>
                  <i class="fa-brands fa-github"></i>
                  <%end %>
                </div>
              </div>
          </div>
        <% end %>
      </div>
  </div>

  <div class="tab-pane fade bounty-dashboard-container" id="ranking-tab-pane" role="tabpanel" aria-labelledby="ranking-tab" tabindex="0">
    <h2 class="text-light my-5 font-weight-bold text-center">Leader<span class="green">board</span></h2>
      <div class="leader-bord d-flex justify-content-between">
        <div class="col-6">
            <% @users.order(ranking: :desc).limit(10).each_with_index do |u, i|%>
              <div class = "leaderboard-card d-flex justify-content-between px-2" style="width: 40vw;">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex align-items-center" style="width: 20px;">
                    <p style="font-size: 30px;" class="green"><%= i+=1%></p>
                  </div>

                    <%= image_tag("blank-profile.png", class: "avatar", style:"width: 50px; height: 50px; border-radius: 50%; margin-left: 20px; margin-right: 20px;")%>

                  <p><%= u.username%></p>
                </div>
                <div class="d-flex justify-content-end">
                  <p><%= u.ranking.nil? ? 0.0 : u.ranking.round(2) %></p>
                </div>
              </div>
            <%end%>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-start">
          <div class="score-board" style="width: 38vw;">
            <h3 class="text-white text-center">This is your score board</h3>
                <div class="card-description d-flex justify-content-evenly mb-3">
                  <div class="d-flex flex-column price-card justify-content-center mx-2 p-4">
                    <p>So far you've earned</p>
                    <p class="light-price mb-0"><%= @user.prize_money %> €</p>
                  </div>
                  <div class="price-card d-flex flex-column justify-content-center p-4 mx-2">
                    <p class="mb-0">You've solved <span class="light-price"><%= pluralize @user.solutions.where(status:"accepted").count, 'bounty' %> </span></p>
                  </div>
                  <div class="price-card d-flex flex-column justify-content-center p-4 mx-2">
                    <p>And earned</p>
                    <p class="light-price mb-0"><%= @user.ranking %> points</p>
                  </div>
                </div>
                <p class="text-center text-white"> YOU ARE CURRENTLY <span class="light-price">N°<%= @users.order(ranking: :desc).index(current_user) + 1 %></span> IN THE RANKINGS</p>
          </div>
        </div>
</div>
