<div class="w-screen ml-auto mr-auto md:max-w-[600px]">
<div id="create-bounty">
  <div class ="pimp">
    <h5 class="text-center">Sign<span class="green">up</span></h5>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   <%= f.input :username,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "Username",
                input_html: { autocomplete: "username" }%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                label: false,
                placeholder: "Email",
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                label: false,
                placeholder: "Password",
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label: false,
                placeholder: "Confirm your password",
                required: true,
                input_html: { autocomplete: "new-password" } %>
                <%= render "devise/shared/links" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "button2 " %>
  </div>
<% end %>
</div>
</div>
</div>
