// Specific CSS for your home-page
body {
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox */
}

body::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}


body {
	background-color: #100952;
}


#home-will, .home-will {
	z-index: 1;
	position: relative;
	height: max-content;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.banner-video {
	z-index: 2;
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	opacity: 0.8;
}

.home-transparent {
	z-index: 3;
	// top: 0;
	background: transparent;
	position: absolute;

}

#home {
	z-index: 1;
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	color: white;


	.home-pitch {
		z-index: 3;
		width: 80%;
		position: absolute;
		top: 20%;
		height: 75vh;
		// height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;


		h4 {
			font-size: 4rem;
			color: #E4E0DE;
			padding: 0rem;
		}

		.pitch {
			display: flex;
			justify-content: space-between;
			max-height: 60vh;
			align-items: flex-end;

			.pitch-text {
				max-width: 40%;
				display: flex;
				flex-direction: column;
			}

			.pitch-button {
				display: flex;
				flex-direction: column;
				width: 100%;

				a {
					//font-size: xx-large;
					width: 100%;
				}
			}

			h1 {
				// margin-bottom: 4rem;
				font-size: 2.5rem;
				// font-weight: 700;
				color: #E4E0DE;
			}

			.green {
				color: #02BE6E;
			}

			h5 {
				//font-size: 1.5rem;
				// font-weight: 700;
				color: #E4E0DE;
				margin-bottom: 0px;
				text-align: end;
			}
		}

		.learn-more {
			display: flex;
			flex-direction: column;
			justify-items: center;
			justify-content: center;
			align-items: center;
			text-align: center;
			z-index: 3;

			.fa-solid {
				color: white;
				font-size: 1rem;
				height: 1rem;
			}
		}

	}

	.button {
		color: rgba(255, 255, 255, 0.9);
		border: 6px solid #7101FF;
		border-radius: 15px;
		padding: 1rem 1rem;
		//font-size: 1rem;
		letter-spacing: 0.2rem;
		cursor: pointer;
		filter: drop-shadow(0 0 15px #7101FF) drop-shadow(0 0 50px #7101FF) contrast(2) brightness(2);
		transition: .5s;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
		padding-right: 2rem;
		text-decoration: none;
		font-weight: bold;
	}

	.button:hover {
		color: #eaeaea;
		background-color: #7101FF;
		filter: drop-shadow(0 0 20px #7101FF) contrast(2) brightness(2);
	}

}

.button-white {
	color: rgba(255, 255, 255, 0.9);
	font-size: 1rem;
	letter-spacing: 0.2rem;
	cursor: pointer;
	transition: 0.5s;
	text-decoration: none;
	font-weight: bold;
}

.button-white:hover {
	color: #ffffff50;
}

.card-down.reveal {
	opacity: 0;
	// transition: 5s cubic-bezier(0.5, 0, 0, 1);
	transform: translateY(60vh);
	transition-duration: 2.5s;
	transition-property: opacity, transform;
}

.reveal.in {
	opacity: 1;
	transform: none;
}

#moving-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	//height: 100vh;

	.card-height {
		//height: 70vh;
		width: 90vw;
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	// .right.reveal{
	//   opacity: 0;
	//   // transition: 5s cubic-bezier(0.5, 0, 0, 1);
	//   transform: translateX(70vw);
	//   transition-duration: 2.5s;
	//   transition-property: opacity, transform;
	// }

	// .left.reveal {
	//   opacity: 0;
	//   // transition: 5s cubic-bezier(0.5, 0, 0, 1);
	//   transform: translateX(70vw);
	//   transition-duration: 2.5s;
	//   transition-property: opacity, transform;
	// }


	.card-pink {
		background: radial-gradient(#7101FF, #C79CFF);
		border-radius: 10px;
		box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
		height: 40vh;
		//width: 25vw;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		text-align: center;

		.card_title {
			// grid-row: 3/4;
			font-weight: bold;
			color: #ffffff;
		}

		h2 {
			font-size: 2rem;
			margin-top: 0rem;
			margin-bottom: 0rem;
		}

		.card_icon {
			position: relative;
			text-decoration: none;
			color: rgba(255, 255, 255, 0.9);
			font-size: 3rem;
			height: 3rem;
		}

		h2 {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		a {
			font-size: 1rem;
			font-weight: bold !important;
		}

		a:hover {
			color: #02BE6E !important;
		}

		.card_link {
			position: relative;
			text-decoration: none;
			display: flex;
			justify-content: center;
			text-align: center;
			flex-direction: row;
			align-content: center;
			align-items: center;
			font-size: 1rem;

			.fas {
				padding-left: 0.5rem;
				font-size: 1rem;
			}


			.card_link:hover {
				width: 100%;
			}

			.card_link::after {
				position: absolute;
				top: 25px;
				left: 0;
				content: "";
				width: 0%;
				height: 3px;
				background-color: #02BE6E;
				transition: all 0.5s;
			}

			.card_link:hover::after {
				width: 100%;
			}
		}
	}
}

.banner-description {
	z-index: 3;
	width: 70%;
	display: flex;
	justify-content: space-between;
	top: 40%;


	.home-pitch-will {

		h1 {
			margin-bottom: 4rem;
			font-size: 100px;
			font-weight: 700;
			color: #E4E0DE;
		}

		.green {
			color: #02BE6E;
		}

		h4 {
			margin-bottom: 1em;
			font-size: 60px;
			font-weight: 700;
			color: #E4E0DE;
			margin-top: 150px;
		}

		h5 {
			font-size: 60px;
			font-weight: 700;
			color: #E4E0DE;
			margin-top: 150px;
			text-align: center;
		}

		a {
			text-decoration: none;
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 3rem;
			padding-right: 3rem;
			border-radius: 2rem;
			font-weight: bold;
		}

		.home-link {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;


		}
	}

	#infos {
		z-index: 1;
		height: 100vh;
		display: flex;
	}

	#infos-target {
		z-index: 3;
		min-height: 200vh;
		height: fit-content;
		background-color: black;
		padding-top: 6rem;
		position: relative;

	}

	.info-wrapper {
		margin-top: 4rem;
		margin-left: auto;
		margin-right: auto;
		width: 70%;
		// position: absolute;
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		// flex-direction: column;
		// width: 70%;

		.green {
			color: #02BE6E;
		}

		h4 {
			margin-bottom: 2rem;
			font-size: 60px;
			font-weight: 700;
			color: #E4E0DE;
		}

		h1 {
			margin-bottom: 4rem;
			font-size: 100px;
			font-weight: 700;
			color: #E4E0DE;
		}
	}

	.info-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		// justify-content: space-between;


		h6 {
			top: 10%;
			margin-top: 4rem;
			margin-bottom: 2rem;
			font-size: 30px;
		}

		p {
			color: rgba(255, 255, 255, 0.5);
			width: 70%;
			font-family: 'Roboto Mono', monospace;
			font-style: italic;
			font-size: 17px;
			margin-bottom: 4rem;
			text-align: center;
		}
	}


}

.green {
	color: #02BE6E;
	font-weight: bold;
}

/* CARDS */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	margin: 20px;
	padding: 20px;
	width: 500px;
	min-height: 200px;
	display: grid;
	grid-template-rows: 20px 50px 1fr 50px;
	border-radius: 10px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
	// transition: all 0.2s;
}

.card__link,
.card__exit,
.card_icon {
	position: relative;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
	position: absolute;
	top: 25px;
	left: 0;
	content: "";
	width: 0%;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.6);
	transition: all 0.5s;
}

.card__link:hover::after {
	width: 100%;
}


.card__icon {
	grid-row: 2/3;
	font-size: 30px;
}

.card__apply {
	grid-row: 4/5;
	align-self: center;
}

/* CARD BACKGROUNDS */

.card-3 {
	background: radial-gradient(#7101FF, #C79CFF);
	margin: 30px auto;
}

.card-3-left {
	margin-left: -75px;
}

.card-3-right {
	margin-right: -75px;
}

/* RESPONSIVE */

// @media (max-width: 1600px) {
//   .cards {
//     justify-content: center;
//   }
// }

/* Cards with steps */

.card-container {
	width: auto;
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 50px;
	//padding-top: 50px;
	//padding-bottom: 50px;
}

.card-container .card1 {
	position: relative;
}

.card-container .card1 .face {
	width: 300px;
	height: 300px;
	transition: .4s;

}

.card-container .card1 .face.face1 {
	position: relative;
	background: #7101FF;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
}

.card-container .card1

/*:hover*/
.face.face1 {
	transform: translateY(0);
	box-shadow:
		inset 0 0 60px whitesmoke,
		inset 10px 0 80px #f0f,
		inset -10px 0 80px #0ff,
		inset 10px 0 300px #f0f,
		inset -10px 0 300px #0ff,
		0 0 50px #fff,
		-10px 0 80px #f0f,
		10px 0 80px #0ff;

}


.card-container .card1 .face.face1 .content {
	//opacity: .2;
	transition: 0.5s;
	text-align: center;
}

.card-container .card1:hover .face.face1 .content {
	opacity: 0.8;
}

.card-container .card1 .face.face1 .content i {
	font-size: 3em;
	color: white;
	display: inline-block;

}

.card-container .card1 .face.face1 .content h3 {
	font-size: 2em;
	color: white;
	text-align: center;
}

.card-container .card1 .face.face1 .content a {
	transition: .5s;
}

.card-container .card1 .face.face2 {
	position: relative;
	background: whitesmoke;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
	//transform: translateY(-100px);
}

.card-container .card:hover .face.face2 {
	transform: translateY(0);
}

.card-container .card1 .face.face2 .content p {
	font-size: 14pt;
	margin: 0;
	padding: 0;
	color: #333;
}

.card-container-bot {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	//padding-top: 100px;
	padding-bottom: 20px;
}

.workings-item {
	font-size: Min(40px, Max(30px, 3vw)) !important; // camel case as quick workaround

	i {

	}

	span {
		margin-left: 10px;
	}

	.text-muted {
		display: block;

		span {
			font-style: italic;
		}
	}
}