.new_bounty {
  p {
    color: white;
    margin-bottom: 0px;
  }
}

.pimp {
  background-image: radial-gradient(
    circle,
    rgba(113, 1, 255, 0.1) 0%,
    rgba(199, 156, 255, 0.1) 100%
  );
  color: white;
  background-color: #110951;
  margin: 30px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create-wrapper {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin: 0 20px;
  }
}

#create-bounty {
  width: 70%;
  margin: auto;
}

.create-bounty-all {
  align-items: center;

  .input-group {
    margin-top: 0;
  }

  .create-bounty-left {
    height: 400px;
    width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .create-bounty-right {
    height: 400px;
    width: 50%;
    max-width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .form-font {
      margin: 0;
    }
    p {
      margin-left: 20px;
      font-size: 0.9rem;
    }
  }
  input {
    font-size: 0.9rem;
  }

  #depositInput {
    margin-left: 20px;
  }

  .green-create {
    height: fit-content;
    margin-left: 1rem;
    width: 11rem;
    flex-shrink: 0;
    font-size: 0.9rem;
  }
}
