
<div class="index-container" data-controller="scroll-reveal">

  <div class='grid grid-cols-6 grid-rows-20 '>
    <h2 class="w-screen text-center mt-5">All <span class="green">open</span> bounties</h2>
    <div class='text-white mt-[150px] w-[280px] bg-purple-700 ml-[-20px] p-2 rounded-md no-underline text-center md:ml-[218px]'><%= link_to 'Create a bounty', new_bounty_path, class:'no-underline'%></div>

    <div class='flex row-start-2 justify-center text-center ml-[180px] mt-[20px] md:col-start-3 md:row-start-2 '>
      <%= form_with url: bounties_path, method: :get, html: {class: "d-flex"} do %>
        <%= text_field_tag :query,
            params[:query],
            class: "rounded-md",
            placeholder: " 🔎 "
            %>
        <%#= submit_tag "".html_safe %>
        <%= button_tag 'search', class: "search-btn btn text-white me-1 ms-2 rounded-md inherit" %>


        <%= number_field_tag :min, params[:min] || 0, class: 'd-none' %>
        <%= number_field_tag :max, params[:max] || 50000, class: 'd-none' %>
      <% end %>
    </div>

<%# Filter box  %>
    <div class='col-start-1 row-start-5 col-span-6 mt-2 rounded-xl bg-inherit ml-[20px] md:w-[350px] md:col-span-1'>
      <div class="bg-purple-700 reveal rounded-xl md:mt-[25px]" data-scroll-reveal-target="item">
        <p class="text-center mb-5 text-white pt-2">Price range</p>
        <%= form_with url: bounties_path,
                      method: :get,
                      html: {
                        data: {
                          controller: "range-input",
                          "range-input-min-value" => params[:min]|| @min_price ,
                          "range-input-max-value" => params[:max] || @max_price,
                          "range-input-max-price-value" => @max_price,
                          class: "pricing-filter"
                        }
                      } do %>
          <div class="price-box" data-range-input-target="range"></div>
          <%= text_field_tag :min, params[:min] || @min_price, 'data-range-input-target' => 'minInput', class: 'd-none' %>
          <%= text_field_tag :max, params[:max] || @max_price, 'data-range-input-target' => 'maxInput', class: 'd-none' %>
          <div class="tag-item difficulty-box">

          </div>
          <div class="btn-filter w-100">
            <%= submit_tag 'Apply', class: "btn chat-btn mb-2 mt-3 w-100" %>

            <%= text_field_tag :query,
              params[:query],
              class: "d-none"
            %>
          </div>
        <% end %>
      </div>
    </div>


<%# Bounties card %>


      <div class=' bounties-card row-start-7 ml-[25px] md:col-start-3 md:col-span-4 md:row-start-5'>
        <% @bounties.each_with_index do |bounty, i| %>
          <div class="bounty-card border-4 rounded-lg border-purple-700 hover:bg-purple-700 w-[350px] h-[250px] sm:gap-[5px] reveal grid grid-cols-1 gap-1 grid-rows-1 md:flex justify-between md:w-[650px] md:h-[100px] md:col-span-6" data-scroll-reveal-target="item" data-delay="<%= i*20 %>ms" >
            <%= link_to bounty_path(bounty), class:" text-decoration-none text-white" do %>
              <div class="">
                <div class="md:flex ">

                <div class="bounty-links ml-auto mr-auto row-start-2 col-start-3 col-span-3 md:mr-10 mt-3">
                  <% if bounty.user.photo.attached? %>
                    <%  %>
                    <%= cl_image_tag bounty.user.photo.key, class:"avatar-bounty" %>
                  <% else %>
                    <div class=''>
                      <%= image_tag(["robot1.png", "robot2.png", "robot3.png"].sample, class:"avatar-bounty w-15") %>
                    </div>
                  <% end %>
                  <p class="title"><%= bounty.user.username %></p>
                </div>
                  <div>
                  <p class="text-lg mt-3 text-center mx-1 md:mx-0"><%= bounty.title[0..40]%>
                   <% if bounty.title.length > 40 %>...
                   <% end %>
                  </p>

                 <div class='md:flex'>
                  <p class="text-base text-green-600 text-center"> <span class='text-xl'>⏱ </span>
                  <% if bounty.deadline == nil %>
                      <%= "none" %>
                    <% else %>
                      <%= bounty.deadline %>
                    <% end %>  </p>
                <div class="">
                  <p class="text-base md:ml-9 text-center"><span class='text-xl'>💰 </span><%= bounty.price_cents %> €</p>
                </div>
                <div class="pt-2">
                  <p class=" md:ml-9 text-center text-gray-300w-[100px] h-[20%] text-xs animate-pulse"><span class='text-xs md:text-xs'>Created at: </span ><%= bounty.created_at.strftime("%d %B") %></p>
                </div>
              </div>



                </div>
                </div>
              </div>
            <% end %>






          </div>
        <% end %>
      </div>

  </div>
</div>
