<div id="create-bounty">
  <div class ="pimp" data-controller="withdraw">
    <h5 class="text-center">Create a <span class="green">bounty</span></h5>
    <%= simple_form_for @bounty do |f| %>
      <div class="create-bounty-all md:flex md:justify-evenly">
        <div class="md:h-[300px] md:mt-[-100px] md:w-[50%] md:max-w-[50%] md:flex md:justify-between md:flex-col">
          <span class="formfont" ><%= f.input :title, label: false, placeholder: 'Title'%></span>
          <span class="formfont" ><%= f.input :company, label:false, placeholder: 'Company'%></span>
          <span class="formfont mt-20"><%= f.input :price_cents, label: false, :placeholder => "Price in € for your bounty"%> <div class='text-gray-400 text-xs'>The payment method is chosen in consultation with both parties (fiat, crypto, …)</div></span>


        </div>
        <div class="md:h-[400px] md:w-[50%] md:max-w-[50%] md:flex md:justify-between md:flex-col">
          <span class="formfont"><%= f.input :deadline, as: :string, input_html: { data: { controller: 'flatpickr' } }, label: false, placeholder: 'Optional: chose a deadline' %></span>
          <span class="formfont"><%= f.input :github_repo, label: false, :placeholder => "Link to your code"%></span>
          <span class="formfont"><%= f.input :content, label: false, :placeholder => "Detail your coding problem" %>
          <div class='text-xs text-gray-400'>Provide your contact information (email, Discord, LinkedIn, …) to enable a direct communication with the developer</div></span>

          <div class=" align-items-center justify-content-between md:flex">
            <!--<p id="contractAccount">Contract Account: Not Connected</p>
              <%= f.input :smartcontractaddress, label: false, input_html: { data: { withdraw_target:'smartid'}, class:"d-none"} %>
              <button type="button" class="green-create" data-withdraw-target="connectContract" data-action="click->withdraw#connectContract click->withdraw#getContractAccount">Connect to contract</button>-->
          </div>
          <div id="writeArea" class=" align-items-center justify-content-between d-none md:flex" data-withdraw-target="depositButton">
            <div class=" input-group">
              <%= number_field_tag :price_cents, '1', class:"form-control", id:"depositInput", :placeholder => "Price" %>
              <div class="input-group-append">
                <span class="input-group-text">ETH</span>
              </div>
            </div>
            <button type="button" class="green-create" data-action="click->withdraw#depositContract">Send money to contract</button>
          </div>
          <div class=' md:ml-[-120px] md:mb-[100px]'>
          <%= f.submit class: 'button2'%>
          </div>
        </div>
        <%# <span class="formfont"><%= f.input :deadline, :input_html => {:value => Time.now}, start_year: Time.now.year, start_month: Time.now.month, start_day: Time.now.day</span> %>
      </div>
    <% end %>
  </div>
</div>
