


  <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="open-modal" data-controller="notifications">
    <% content_for :meta_title, "#{@bounty.title} is on #{DEFAULT_META["meta_product_name"]}" %>
    <% content_for :meta_description, @bounty.content %>
    <div class="modal-dialog p-3" role="document">
      <div class="modal-content card-show">
        <div class="modal-header">
          <h2 class="text-center mt-5 mb-4">Offer your <span class="green">solution</span></h2>
        </div>
        <div class="modal-body">

          <% if @current_user %>
            <%= simple_form_for([@bounty, @solution], data: { controller: "notifications", action: "submit->notifications#addNotification", notifications_id: {value: current_user.id}}) do |f| %>
              <%= f.input :content, :label => "Solution Overview", :required => false , :placeholder => "Detail your solution" %>
              <%= f.input :github_repo, :label => "Github Link", :required => false, :placeholder => "Link to your file repo"%>
              <%= f.submit "Create solution", class: 'btn green mt-2' %>
              <p class="d-none" id="name"> <%=current_user.username %> </p>
            <% end %>
          <% else %>
            <p>Log in or register to offer a solution</p>
            <%= link_to('Log in or register', new_user_session_path) %>
          <% end %>

        </div>
        <div class="modal-footer">
          <a type="button" class="text-decoration-none link-back-green" data-bs-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="editBountyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content card-show" style="height: 80%">
      <h2 class="text-center" >Edit your Bounty</h2>
        <div class="form mt-2">
          <%= simple_form_for(@bounty) do |f| %>
            <%= f.input :title, class:'hs-form-required { color: #0171b2; }'%>
            <%= f.input :content, :placeholder => "What is your coding problem" %>
            <%= f.input :difficulty_level %>
            <%= f.input :github_repo %>
            <%= f.submit class: 'btn green mt-2 text-center' %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <h1 class="text-center text-light mt-4 font-weight-bold text-xl mr-auto ml-auto md:text-4xl">The <span class="green"> Bounty </span> Show</h1>

   <%# BACK TO INDEX ????  -> put on top page%>
        <p> <%= link_to "Back to the index ↩", bounties_path, class: "text-decoration-none link-back-green ml-[20px] position-absolute top-[150px] md:top-[200px] md:ml-[100px] md:mt-[50px]"%> </p>























<div class=''>
  <div class="back-container">
    <div class="container ml-1" data-controller="insert-code">
      <div class="  grid grid-cols-3 grid-rows-5"  data-controller="withdraw">




<%# Offer solution card %>
        <div class="position-relative top-[150px] position-absolute w-[350px] md:ml-[800px] md:top-[230px]">
            <div class="call-to-action-purple" >
              <div class="card-body">
                <div class="card-description d-flex justify-content-evenly mb-3">
                  <div class="d-flex flex-column price-card px-2">
                    <p class="mx-1 p-2 mt-2 text-sm text-white" style='font-size:16px'> Price </p>
                    <p class="light-price md:text-xl" style="font-size: 16px;"><%= @bounty.price_cents %> €</p>
                  </div>

                  <div class="d-flex flex-column price-card px-2">
                    <%if @bounty.deadline.nil?%>
                      <p class="mb-3 p-2 mx-1 mt-2 text-white">Deadline </p>
                      <p class="light-price" style="font-size: 16px;"> Not defined</p>
                    <%else %>
                      <p class="mb-3 p-2 mx-1 mt-2 text-white">Deadline </p>
                      <p class="light-price" style="font-size: 16px;"> <%= @bounty.deadline %></p>
                    <%end %>
                  </div>
                </div>
              </div>
              <%= link_to "Offer a solution", "#", class: "d-block button2 text-center text-decoration-none", data: { bs_toggle: "modal", bs_target:"#createModal"} %>
            </div>
        </div>


































        <div class="col-span-1 col-start-1 row-start-1 w-[350px] mt-[280px] md:w-[750px] md:mt-[100px]">
          <div class="card-show row-start-3">
            <div class="card-top d-flex justify-content-between">
              <div class="card-title">
                <h2 class=" text-white font-weight-bold"> <%= @bounty.title %> </h2>
              </div>
              <div class="card-photo">
                <% if @bounty.user.photo.attached? %>
                  <%= cl_image_tag @bounty.user.photo.key, class:"card-img-top", alt:"..."%>
                <% else %>
                  <%= image_tag("blank-profile.png", class:"card-img-top", alt:"...")%>
                <% end %>
                <span class="green font-weight-bold"><%=@bounty.user.username%></span>
              </div>
            </div>
            <div class="overview mt-1">
              <%= puts @bounty.github_repo.split("/")[4] == "rubyHunters"%>
              <p class="d-none" data-insert-code-target="owner"> <%= @github_name%></p>
              <p class="d-none" data-insert-code-target="path">  <%= @github_path %></p>
              <p class="d-none" data-insert-code-target="repo"> <%= @repo_name%></p>
              <p data-insert-code-target ="url" class="d-none"><%= "https://api.github.com/users/#{@github_name}/repos" %></p>
              <p class="description-text text-white"><%=@bounty.content%></p>
              <div class="coding-lines ">
                <code data-insert-code-target="code" data-github-token="<%= ENV["GITHUB_TOKEN"] %>" ></code>
              </div>
            </div>

            <% if @bounty.github_repo.include?('github') %>
              <p class="mt-3">see more on the repo <span> <%=@repo_name%></span>:</p>
              <p class="align-self-center  card-github mt-0">
                <%= link_to @bounty.github_repo, class: "text-decoration-none text-white", data: {

                  insert_code_target: "url",
                action: "click->insert-code#collect"
                } do %>
                <i class="fa-brands fa-github"></i>
                <%end %>
              </p>
            <% end %>
            <div class="ending-links-card justify-content-between mt-4 md:flex">
              <div class="link-homework-card">
                <% if @current_user %>
                  <% if current_user.homeworks.where(bounty: @bounty).empty? %>
                    <%= link_to "Add to my homework", bounty_homeworks_path(@bounty, @homework), data: {turbo_method: :post}, class: "button-create text-decoration-none link-edit-green p-1 " %>
                  <% else %>
                    <p>already in your homeworks</p>
                  <% end %>
                <% end %>
              </div>
              <div class="link-edit-card">
                <% if policy(@bounty).edit? %>
                <p class="text-decoration-none mt-3"><%= link_to "Edit this bounty", edit_bounty_path(@bounty), class: "button-create text-decoration-none link-edit-green p-1 mt-2"%> </p>
                <% end %>
              </div>
            </div>
            <div class="solutions mt-5">
              <div class="solutions-list">
                <h2 class="text-light mb-5 mt-3 font-weight-bold">All  <span class="green">solutions</span>:</h2>
                <% @solutions.each do |solution| %>
                  <div class="modal fade" id="editModal<%=solution.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content card-show">
                        <div class="modal-header">
                          <h2 class="text-center mt-5 mb-4">Edit your <span class="green">solution</span></h2>
                        </div>

                        <div class="modal-body">
                          <%= simple_form_for([@bounty, solution]) do |f| %>
                            <%= f.input :content, :placeholder => "Detail your solution" %>
                            <%= f.input :github_repo, :placeholder => "Link to your code"%>
                            <%= f.submit "Edit your solution", class: 'btn green mt-2' %>
                          <% end %>
                        </div>
                        <div class="modal-footer">
                          <a type="button" class="text-decoration-none link-back-green" data-bs-dismiss="modal">Close</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-show-solutions solution-top d-flex flex-column">
                    <div class="solution-left-top d-flex mx-1 justify-content-between align-items-start">
                      <div class="d-flex">
                        <% if solution.user.photo.attached? %>
                          <%= cl_image_tag solution.user.photo.key, style:"width: 50px; height: 50px; border-radius: 50%;" %>
                        <% else %>
                          <%= image_tag("blank-profile.png", style:"width: 50px; height: 50px; border-radius: 50%;")%>
                        <% end %>
                        <div class="d-flex flex-column ms-2">
                          <p class="align-self-start username green font-weight-bold mb-0"><%= solution.user.username %></p>
                          <p class="m-0"><%= solution.user.email %></p>
                        </div>
                      </div>
                      <a class="text-decoration-none text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%=solution.id%>" aria-expanded="false" aria-controls="collapseExample<%=solution.id%>">
                        <i class="fa-solid fa-comment-dots" style="font-size: 25px;"></i>
                      </a>
                    </div>
                    <div class="d-flex flex-column mb-3 mt-4 align-items-start">
                      <%= link_to solution.github_repo, target: "_blank", class: "text-decoration-none text-white d-flex align-items-center pb-2 mb-2 border-bottom border-white", data: {
                        insert_code_target: "url",
                        action: "click->insert-code#collect"
                        } do %>
                          <strong>SEE FULL SOLUTION</strong> <i class="fa-brands fa-github ps-2" style="font-size: 25px;"></i>
                      <% end %>
                      <p><i>"<%= solution.content %>"</i></p>
                    </div>
                    <div class="d-flex justify-content-between align-items-end">
                      <div class="badge <% if solution.status == 'accepted' %> bg-success <% elsif solution.status == 'pending' %> bg-secondary <% else %> bg-dark <% end %>" ><%= solution.status %></div>
                      <div class="d-flex">
                        <% if solution.bounty.user == current_user && solution.status == "pending" %>
                          <button id="button-pay", class="green-create text-white me-1" data-action="click->withdraw#withdraw" data-bounty-price="<%= @bounty.price_cents.to_i %>" data-adress="<%= solution.user.walletaddress %>">Pay the bounty</button>
                          <%= link_to "Validate", validate_solution_path(solution), class: "btn chat-btn ms-1", data: {turbo_method: :patch, turbo_confirm: 'Are you sure you want to confirm this solution?'} %>
                        <% end %>
                        <% if policy(solution).edit? %>
                          <%= link_to "Edit your solution", edit_bounty_solution_path(@bounty, solution), class: "text-decoration-none link-back-green me-1", data: {turbo_method: :patch, bs_toggle: "modal", bs_target:"#editModal#{solution.id}"}%>
                        <% end %>
                        <% if policy(solution).destroy? %>
                          <%= link_to "Delete your solution", solution_path(solution), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "text-decoration-none link-back-green ms-1" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="front-container">
      <% @solutions.each do |solution| %>
        <div class="collapse" id="collapseExample<%=solution.id%>">
          <div class="card-chatroom">
            <div class="container-chatroom"
              data-controller="chatroom-subscription"
              data-chatroom-subscription-solution-id-value="<%= solution.id %>"
              <% if @current_user %>
                data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
              <% end %>
              >
              <div class="d-flex justify-content-between">
                <h1 class="chat-title">#Solution id: <%= solution.id %> </h1>
                <button class="btn btn-flat" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample<%=solution.id%>" aria-expanded="false" aria-controls="collapseExample<%=solution.id%>">
                      X
                </button>
              </div>

              <div class="messages" data-chatroom-subscription-target="messages">
                <% solution.messages.each do |message| %>
                  <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
                    <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
                      <%= render "messages/message", message: message %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="form-messages">
                <%= simple_form_for [solution, @message],
                  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
                  %>
                  <%= f.input :content, as: :string,
                    label: false,
                    placeholder: "Type your message...",
                    wrapper_html: {class: "flex-grow-1"}
                  %>
                  <%#= f.submit "Send", class: "btn btn-flat" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<div>
