<div class="navbar-container">
  <div class="home-navbar <%= "home-transparent" if action_name == "home" %>" id="">
    <%= link_to "/", class: "logo-navbar" do %>
      <%= image_tag "simple circle transparent.png" %>
    <% end %>
    <ul class="list-unstyled d-flex align-items-center">
      <% if user_signed_in? %>
        <li class="nav-item-account" data-controller="withdraw">
          <%# <button data-action="click->withdraw#connectMetamask click->withdraw#connectContract" class="green-create">Connect to Metamask</button> %>
          <!--<p >User Wallet:</p>
          <p id="userArea">Status: Not connected to Metamask</p>-->
          <%# <p id="contractArea">Status: Not connected to Contract</p> %>
        </li>
        <li class="nav-item">
          <%= link_to "/bounties/new", class:"text-decoration-none" do %>
            <p  class="green-create" >Create a bounty</p>
          <% end %>
        </li>
        <li class="nav-item active">
          <%= link_to "Bounties", "/bounties", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", "/dashboard", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown notification-ui show" data-controller="notifications", style="
    margin-top: 1em; margin-right: 0.5em;">
          <p class="nav-link dropdown-toggle notification-ui_icon" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"   data-action="click->notifications#showNotifications">
            <i data-action="click->notifications#removeGreen" class="fa fa-bell"></i>
            <% if current_user.notifications.empty? %>
              <span class="unread-notification d-none" id="pastille"></span>
            <% else %>
              <span class="unread-notification" id="pastille"></span>
            <% end %>
            <div class="dropdown-menu notification-ui_dd show d-none" aria-labelledby="navbarDropdown" id="notifs">
              <div class="notification-ui_dd-content dropdown-item text-white" >
                <div class="notification-list notification-list--unread">
                  <div class="notification-list_detail">
                    <% current_user.notifications.each do |notif|%>
                      <%= link_to "/dashboard", class:"text-decoration-none notif-links" do %>
                        <p class="mb-4"><%=notif.content%></p>
                      <%end %>
                    <%end %>
                  </div>
                </div>
              </div>
            </div>
          </p>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag("blank-profile.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false)%>
          <% end %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Notifications", "#", class: "dropdown-item" %>
            <%= link_to "Bounties", "/bounties", class: "dropdown-item" %>
            <%= link_to "Dashboard", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        </li>
      </div>
    <% else %>
      <li class="nav-item active">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Bounties", "/bounties", class: "nav-link" %>
      </li>
      <li class="nav-item">
          <%= link_to "/bounties/new", class:"text-decoration-none" do %>
            <p  class="green-create" >Create a bounty</p>
          <% end %>
        </li>
    <% end %>
  </ul>
</div>
</div>
