<div data-bs-spy="scroll">
  <div id="home">
    <div class="banner-video">

    </div>
    <div class="home-pitch container-flex">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h4 class="text-center mb-3" style="font-size: max(40px, 4vw)">
            Get Your <span class="green">Technical Projects</span> Done
          </h4>
          <h4 class="text-center mb-3" style="font-size: max(40px, 4vw)">
            <span class="green"> 3x Faster</span> and <span class="green">60% Cheaper</span>
            </h4>
        </div>
        <div class="col-lg-6 text-center">
          <div class="row">
            <div class="col-xs-12">
              <div class="pitch-button w-100 mb-4" >
                <a href="/bounties" class="button text-center d-block w-100 mt-5" style="font-size: max(20px, 2vw)">Explore bounties!</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="pitch-button w-100" >
                <a href="#workings" class="nav-link button text-center d-block w-100" style="font-size: max(20px, 2vw)">How does it work?</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-end" style="font-size: min(50px, max(30px, 6vw))">
        <div class="col-xs-12 text-center mt-5"  style="color: #02BE6E">
          Learn More!
        </div>
        <a class="nav-link" href="#moving-card">
          <div class="col-xs-12 text-center">
            <i class="fa-solid fa-arrow-down"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div id="moving-card" class='mt-[250px]'>
    <div class="card-height row mt-5" style="min-height: 100vh">
      <div class="d-flex flex-column col-lg-4 mb-5 mb-lg-0 mr-0 mr-lg-5">
        <div data-scroll-reveal-target="item" class="card-pink card-down">
          <div class="card_icon">
            <i class="fa-sharp fa-solid fa-gem"></i>
          </div>
          <h2 class="card_title">Outsource in a smart way</h2>
          <div class="d-flex justify-content-center card__apply">
            <a class="card_link" href="/bounties/new">Place a bounty<i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column col-lg-4">
        <div data-scroll-reveal-target="item" class="card-pink card-down">
          <div class="card_icon">
            <i class="fa-solid fa-stopwatch"></i>
          </div>
          <h2 class="card_title">Faster responses</h2>
          <p class="d-flex justify-content-center card__apply">
            <a class="card_link" href="/bounties">Fast bug fix <i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
      </div>
      <div class="d-flex flex-column col-lg-4 mt-5 mt-lg-0 ml-0 ml-lg-5">
        <div data-scroll-reveal-target="item" class="card-pink card-down">
          <div class="card_icon">
            <i class="fa-solid fa-bullseye"></i>
          </div>
          <h2 class="card_title">Designed to be simple</h2>
          <p class="d-flex justify-content-center card__apply">
            <a class="card_link" href="/bounties">Put up a bounty<i class="fas fa-arrow-right"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="home-will mt-[250px]">
    <div class="row">
      <div class="col pb-0 mt-5 card-container text-center">
        <h5 class="text-white"  style="font-size: min(40px, max(40px, 6vw)) !important;">Values for <span class="green">Companies</span></h5>
      </div>
    </div>
    <div class="row align-items-center pt-4">
      <div class="col-lg-4 col-lg ml-auto mr-auto  p-0 card-container">
        <div class="card1">
          <div class="face face1">
            <div class="content">
              <h3>Access to Talent</h3>
            </div>
          </div>
          <div class="face face2">
            <div class="content">
              <p>By tapping into our broad network of talented developers who can solve your technical projects, you may just find your next top hire.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-lg ml-auto mr-auto  pl-5 pr-5 pb-0 card-container">
        <div class="card1">
          <div class="face face1">
            <div class="content">
              <h3>Efficient Problem-Solving</h3>
            </div>
          </div>
          <div class="face face2" style="padding-bottom: 0px !important">
            <div class="content">
              <p>Stop losing time searching for the right fit, let it come to you.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-lg ml-auto mr-auto  p-0 card-container">
        <div class="card1">
          <div class="face face1">
            <div class="content">
              <h3>Cost-Effective Solutions</h3>
            </div>
          </div>
          <div class="face face2" style="padding-bottom: 0px !important">
            <div class="content">
              <p>Limit it to your budget by setting a bounty price. Get the solution for a lower cost than hiring a full-time developer or consulting firm. Here there are no negotiations or hidden costs.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-bot">
        <eext4 />
      </div>
    </div>
  </div>
  <div class="home-will mt-[250px]">
    <div class="row ">
      <div class="col pb-0 mt-5 card-container text-center">
        <h5 class="text-white "  style="font-size: min(50px, max(40px, 6vw)) !important;">
          Values for
          <span class="green">Developers</span></h5>
      </div>
    </div>
    <div class="row align-items-center pt-4">
      <div class="col-lg-4 col-lg mx-auto p-0 card-container">
        <div class="card1">
          <div class="face face1">
            <div class="content">
              <h3>Skill<br />
                Development</h3>
            </div>
          </div>
          <div class="face face2" style="padding-bottom: 0px !important">
            <div class="content">
              <p>Developers can enhance their skills and stay up-to-date with the latest technologies by solving technical bounties on our platform.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-lg mx-auto pl-5 pr-5 pb-0 card-container">
        <div class="card1">
          <div class="face face1">
            <div class="content">
              <h3>Monetary Rewards</h3>
            </div>
          </div>
          <div class="face face2" style="padding-bottom: 0px !important">
            <div class="content">
              <p>Our platform offers developers the chance to earn money by solving technical problems for companies. It’s an excellent way to supplement your income.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-lg p-0 mx-auto card-container">
        <div class="card1">
          <div class="face face1">
            <div class="content">
              <h3>Networking Opportunities</h3>
            </div>
          </div>
          <div class="face face2" style="padding-bottom: 0px !important">
            <div class="content">
              <p>Using our platform, developers can connect with companies and other developers, leading to new opportunities and potentially new job or freelance opportunities.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-bot">
        <eext4 />
      </div>
    </div>
  </div>
  <div id="workings" class="home-will container mb-5 mt-[250px]">
    <div>
      <div class="col pb-0 mt-5 card-container text-center">
        <h5 class="text-white mb-20" style="font-size: min(50px, max(40px, 6vw)) !important;">
          How does it
          <span class="green">work?</span>
        </h5>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 workings-item">
        <div class="vr"></div>
        <i class="fa-solid fa-1 text-white"></i>
        <span class="green">Create a Bounty</span>
        <br />
        <span class="text-white d-block ml-3" style="opacity: 65%; margin-left: 50px;">Companies post a description of their technical problem/project with a bounty price (amount they are willing to pay for the solution)</span>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 workings-item">
        <div class="vr"></div>
        <i class="fa-solid fa-2 text-white"></i>
        <span  class="green">Get Solutions</span>
        <br />
        <span class="text-white d-block ml-3" style="opacity: 65%; margin-left: 50px;">Developers can see all open bounties on the platform and try to solve them as fast and best as possible.</span>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 workings-item">
        <div class="vr"></div>
        <i class="fa-solid fa-3  text-white"></i>
        <span  class="green">Choose your Solution</span>
        <br />
        <span class="text-white d-block ml-3" style="opacity: 65%; margin-left: 50px;">Companies can choose the best answer and pay out the bounty to the person who solved their technical problem.</span>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 workings-item">
        <div class="vr"></div>
        <i class="fa-solid fa-4 text-white"></i>
        <span  class="green">Payment</span>
        <br />
        <span class="text-white d-block ml-3" style="opacity: 65%; margin-left: 50px;">Communicate with the developer and pay the developer for their work using a payment option that you agree on (will soon be integrated on the platform)
        </span>
      </div>
    </div>
  </div>
  <div class="container home-will mt-[250px]" style="margin-bottom: 100px;">
    <div>
      <div class="col pb-0 mt-5 card-container text-center">
        <h5 class="text-white text-left" style="font-size: min(50px, max(40px, 6vw)) !important;">
          Examples of
          <span class="green">bounties</span>
        </h5>
      </div>
    </div>
    <div class="border border-dark rounded" style="">
      <div class="row mb-2" style="font-size: 4rem;">
        <div class="col-12 workings-item">
          <div class="vr"></div>
          <span class="text-white">-</span>
          <span class="text-white">Website development</span>
        </div>
      </div>
      <div class="row mb-2" style="font-size: 4rem;">
        <div class="col-12 workings-item">
          <div class="vr"></div>
          <span class="text-white">-</span>
          <span  class="text-white">Bug fixes</span>
        </div>
      </div>
      <div class="row mb-2" style="font-size: 4rem;">
        <div class="col-12 workings-item">
          <div class="vr"></div>
          <span class="text-white">-</span>
          <span  class="text-white">Creation of a bot</span>
        </div>
      </div>
      <div class="row mb-2" style="font-size: 4rem;">
        <div class="col-12 workings-item">
          <div class="vr"></div>
          <span class="text-white">-</span>
          <span  class="text-white">UI design with Figma</span>
        </div>
      </div>
      <div class="row mb-2" style="font-size: 4rem;">
        <div class="col-12 workings-item">
          <div class="vr"></div>
          <span class="text-white">-</span>
          <span  class="text-white">Smart Contracts</span>
        </div>
      </div>
      <div class="row mb-2" style="font-size: 4rem;">
        <div class="col-12 workings-item">
          <div class="vr"></div>
          <span class="text-white">-</span>
          <span  class="text-white">Image labeling for ML</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex pitch-button w-100 mb-4 justify-center" >
      <a href="/bounties" class="button text-center d-block w-[200px] mt-5 py-2 bg-green-400 no-underline rounded-xl text-2xl ">Explore bounties!</a>
  </div>
  <div class="container">
    <div class="row align-items-end">
      <a class="nav-link text-white" href="#home"  style="font-size: min(50px, max(30px, 6vw))">



      <div class="col-xs-12 text-center mt-20"  style="color: #02BE6E">
          Back to top
      </div>
      <div class="col-xs-12 text-center">
          <i class="fa-solid fa-arrow-up"></i>
        </div>
      </a>
    </div>
  </div>
</div>
<eext5 />
