<div class=' text-white  ml-[100px] mr-[100px]'>
  <div class='flex justify-center text-3xl mt-20'>
    Privacy Policy
  </div>
  <div class='flex mt-20 ml-[100px] mr-[100px] justify-center'>
    At Code Hunters, we take the privacy of our users seriously. This Privacy Policy outlines what personal information we collect and how we use it.
Information We Collect
We collect the following personal information when you create a profile on our website:
Your name
Your email address
We do not collect any other personal information, such as passwords or payment information.
How We Use Your Information
We use your personal information to:
Create and manage your account
Communicate with you about your account and any projects you are working on
Send you updates and promotional materials about our services (you can opt out of these at any time)
We do not share your personal information with any third parties.
If you have any questions or concerns about our Privacy Policy, please contact us at help@codehunter.me.
  </div>

</div>
