<div class=' text-white  ml-[100px] mr-[100px]'>
  <div class='flex justify-center text-3xl mt-20'>
    Terms and conditions for Code Hunters (www.codehunter.me):
  </div>
  <div class='flex mt-20 ml-[100px] mr-[100px] justify-center'>
    Users of Code Hunters must be 16 years of age or older to participate as bounty hunters.
    Harassment, spamming, and illegal activity are prohibited on the platform.
    Freelance software developers retain ownership of the code they write, unless otherwise stipulated.
    Code Hunters is not liable for any damages or losses incurred as a result of using the platform, and users assume all risks.
    Once a bounty hunter starts working on a project, the company or person who posted the bounty cannot reclaim it.
    Any disputes should be directed to help@codehunter.me.
    Governance will be determined by the community in the future, but for now, any questions or concerns should also be directed to help@codehunter.me.
  </div>

</div>
