.bounties-card {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .bounty-card {
    // display: flex;
    justify-content: space-between;

   /*  border: #6f42c1;
    background-color: #6f42c1; */
    // border-radius: 8px;
    margin-top: 1em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    vertical-align: middle;

    p {
      margin-bottom: 0;
    }
  }
  // .bounty-card:hover {
    // background: linear-gradient(90deg, #6f42c1,#100952);
  // }

  .bounty-info {
    display: flex;
    align-items: center;
  }

  .bounty-difficulty {
    width: 20%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 1rem;
      width: 6rem;
    }
  }

  .bounty-deadline {
    width: 20%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bounty-price {
    width: 10%;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bounty-title {
    width: 50%;
    // max-width: 40%;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title-title {
    font-style: italic;
    color: #e3d3ff;
    height: 40%;
    text-align: start;
    font-size: 0.8rem;
  }

  .title {
    font-style: italic;
    color: #e3d3ff;
    height: 40%;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 0.8rem;
  }

  .content {
    text-align: center;
    color: white;
    height: 60%;
    font-size: 0.8rem;
  }

  .content-title {
    text-align: start;
    color: white;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: 100%;
    height: 60%;
    font-size: 0.8rem;
  }

  .bounty-links {
    display: flex;
    flex-grow: 0;
    width: 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;

    .fa-brands {
      // height: 3rem;
      font-size: 2rem;
      width: auto;
      color: white;
      padding-bottom: 1rem;
    }

    .avatar-bounty {
      height: 30px;
      width: auto;
      border-radius: 50%;
    }
  }
}

// .bounty-card {
//   display: flex;
//   background: rgba(255, 255, 255, 0.04);
//   border-radius: 10px;
//   padding: 1em;
//   margin-top: 12px;
//   height: fit-content;
//   margin-right: 20px;
//   justify-content: space-around;
// }

.bounty-item {
  padding: 1em;
}

.bounty-item-title {
  font-weight: 700;
  color: white;
}

.fa-brands {
  font-size: 40px;
  color: white;
}

.fa-solid .fa-filter {
  font-size: 20px;
}

.fa-arrow-right {
  font-size: 40px;
}

.fa-brands:hover {
  color: #ac01ff;
}

.fa-solid:hover {
  color: #ac01ff;
}

.btn-empty-white {
  padding-bottom: 1rem;
  border-width: thin;
}
