// .card-category {
//   background-size: cover;
//   background-position: center;
//   object-fit: cover;
//   height: 140px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

// .card-box {
//   border-radius: 15px;
//   box-shadow: 6px 6px 15px #a159b1;

//   &:hover{
//     box-shadow: inset 6px 6px 15px #a159b1;
//   }

//   & a {
//     color: black !important;
//   }
// }

.card-index {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-index .img-container {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-index h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-index p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-index .card-index-infos {
  padding: 16px;
}

.overview {
  margin-top: 100px;
}

.card .username {
  margin-top: 10px;
  margin-left: 2px;
}

.link-back-green:hover {
  color: #02be6e;
}
.link-solution-green:hover {
  color: #02be6e;
}
.link-edit-green:hover {
  color: #02be6e;
}

.card-show {
  background-image: radial-gradient(
    circle,
    rgba(113, 1, 255, 0.1) 0%,
    rgba(199, 156, 255, 0.1) 100%
  );
  color: white;
  background-color: #110951;
  margin: 30px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card a:hover {
  color: #02be6e;
}

.link-github {
  border: solid;
  padding: 20px;
  border-radius: 10px;
}

.link-github:hover {
  color: #02be6e;
}

.button2 {
  color: #7101ff;
  border: 3px solid #7101ff;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 20px;
  letter-spacing: 5px;

  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #7101ff) drop-shadow(0 0 50px #7101ff)
    contrast(2) brightness(2);
  transition: 0.5s;
  margin: 40px;
  text-decoration: none;
  background-color: white;
  margin-left: 10px;
}

.call-to-action-purple .button2 {
  margin: 0px;
}

.button2:hover {
  color: #eaeaea;
  background-color: #7101ff;
  filter: drop-shadow(0 0 20px #7101ff) contrast(2) brightness(2);
}

// h5 {
//   font-size: 50px;
//   font-weight: bold;
//   margin-bottom: 20px;
//   color: white;
// }

.formfont {
  font-size: 20px;
  margin-bottom: 0;
  color: white;
  margin: 20px;
  display: block;
}

.call-to-action-purple {
  background-color: #ac01ff;
  border-radius: 8px;
  margin-top: 50px;
  padding: 15px;
  position: sticky;
}

.button-purple {
  color: rgba(255, 255, 255, 0.9);
  border: 3px solid #7101ff;
  border-radius: 10px;
  padding: 15px 75px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #7101ff) drop-shadow(0 0 50px #7101ff)
    contrast(2) brightness(2);
  transition: 0.5s;
  text-decoration: none;
  background-color: #ac01ff;
  width: 7vw;
  height: 7vh;
}

.button-purple:hover {
  color: #eaeaea;
  background-color: #110951;
  filter: drop-shadow(0 0 20px #7101ff) contrast(2) brightness(2);
}

.price-card {
  background-color: #c54eff;
  color: #e8b8ff;
  text-align: center;
  border-radius: 8px;
}

.difficulty-card {
  background-color: #c54eff;
  color: #e8b8ff;
  text-align: center;
  border-radius: 8px;
}

.deadline-card {
  background-color: #c54eff;
  color: #e8b8ff;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 8px;
}

.light-price {
  color: white;
  font-size: larger;
  font-weight: bold;
}

.light-difficulty-level {
  color: white;
  font-size: larger;
  font-weight: bold;
}

.light-deadline {
  color: white;
  font-size: larger;
  font-weight: bold;
}

.solutions h2 {
  border-top: solid;
  border-color: #594a83;
  padding-top: 20px;
}

.card-github {
  margin-top: 40px;
}

.card-show-solutions {
  background-image: radial-gradient(
    circle,
    rgba(113, 1, 255, 0.1) 0%,
    rgba(199, 156, 255, 0.1) 100%
  );
  color: white;
  background-color: #110951;
  margin: 30px auto;
  padding: 15px;
  border-radius: 10px;
  border: solid;
  border-color: #594a83;
}

.grey {
  color: #a7a5bf;
}

.link-github:hover {
  opacity: 0.7;
}

.homework-link {
  font-size: 1.4rem;
  text-decoration: none;
}

.homework-link:hover {
  border-bottom: solid;
}
